<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>bmaptest</title>

    <link href="/traceroot/css/style.css" rel="stylesheet" type="text/css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=nBKX588I9lDCyaKBip9bQTpmeeCidwL3">

        //v2.0版本的引用方式：src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"

    </script>



    <script src="/traceroot/js/echarts.min.js"></script>

    <script src="/traceroot/js/echarts-liquidfill.min.js "></script>

    <script type="text/javascript" src="/traceroot/js/changec.js"></script>

    <script type="text/javascript" src="/traceroot/js/jquery-3.3.1.js"></script>

    <script src="/traceroot/js/transdata.js"></script>

    <script>
        function getvalue(){                            //界面初始化
            var pare=window.opener;
            if(pare!=null)
            {
                var segmentid=new Array();
                var start=new Array();
                var end=new Array();
                var update=new Array();
                var creat=new Array();
                var sensorid=new Array();
                var sensorsegid=new Array();
                var sensorlocation=new Array();
                var sensortype=new Array();
                var sensorstate=new Array();
                var sensorvalue=new Array();
                var sensorupdate=new Array();
                var sensorcreat=new Array();
                var badnodeid=new Array();
                var badnodestart=new Array();
                var badnodeend=new Array();
                var badnodeupdate=new Array();
                var badnodecreat=new Array();
                var boatid=new Array();
                var boatlocation=new Array();
                var boattype=new Array();
                var boatstate=new Array();
                var boatupdate=new Array();
                var boatcreat=new Array();
                var tablepipesegment=pare.document.getElementById("pipesegment1");
                var tablesensor=pare.document.getElementById("sensor1");
                var tablebadnode=pare.document.getElementById("badnode");
                var tableboat=pare.document.getElementById("boat1");
                chartdata1=tablepipesegment.rows.length-tablebadnode.rows.length;
                chartdata2=tablebadnode.rows.length -1;

                showchart(chartdata1,chartdata2);
                for (i = 0; i < tablepipesegment.rows.length -1; i++) {
                    segmentid[i]= tablepipesegment.rows[i+1].cells[0];
                    start[i] = tablepipesegment.rows[i+1].cells[1];
                    end[i] = tablepipesegment.rows[i+1].cells[2];
                    update[i] = tablepipesegment.rows[i+1].cells[3];
                    creat[i] = tablepipesegment.rows[i+1].cells[4];
                    if (end[i] != null) {

                        drawpipe(segmentid[i],start[i], end[i],update[i],creat[i]);

                    }
                }

                for (j = 0; j <  tablesensor.rows.length -1; j++) {
                    sensorid[j] = tablesensor.rows[j+1].cells[0];
                    sensorsegid[j] = tablesensor.rows[j+1].cells[1];
                    sensorlocation[j] = tablesensor.rows[j+1].cells[2];
                    sensortype[j]= tablesensor.rows[j+1].cells[3];
                    sensorstate[j]= tablesensor.rows[j+1].cells[4];
                    sensorvalue[j]= tablesensor.rows[j+1].cells[5];
                    sensorupdate[j]= tablesensor.rows[j+1].cells[6];
                    sensorcreat[j]= tablesensor.rows[j+1].cells[7];
                    if (sensorlocation[j] != null) {
                        drawsensor(sensorid[j],sensorsegid[j],sensorlocation[j],sensortype[j],sensorstate[j],sensorvalue[j],sensorupdate[j],sensorcreat[j]);

                    }
                }

                for (i = 0; i < tablebadnode.rows.length -1; i++) {
                    badnodeid[i] = tablebadnode.rows[i+1].cells[0];
                    badnodestart[i] = tablebadnode.rows[i+1].cells[1];
                    badnodeend[i] = tablebadnode.rows[i+1].cells[2];
                    badnodeupdate[i] = tablebadnode.rows[i+1].cells[2];
                    badnodecreat[i] = tablebadnode.rows[i+1].cells[2];
                    if (badnodeend[i] != null) {

                        drawbadnode(badnodeid[i],badnodestart[i], badnodeend[i],badnodeupdate[i],badnodecreat[i]);

                    }
                }

                for (j = 0; j < tableboat.rows.length-1;j++) {
                    boatid[j] = tableboat.rows[j+1].cells[0];
                    boatlocation[j] = tableboat.rows[j+1].cells[1];
                    boattype[j]= tableboat.rows[j+1].cells[2];
                    boatstate[j]= tableboat.rows[j+1].cells[3];
                    boatupdate[j]= tableboat.rows[j+1].cells[4];
                    boatcreat[j]= tableboat.rows[j+1].cells[5];
                    if (sensorlocation[j] != null) {
                        drawboat( boatid[j],boatlocation[j],boattype[j],boatstate[j],boatupdate[j],boatcreat[j]);

                    }
                }

            }
        }

function del(msg) {

    var lo = msg.lastLocation.split(",");
    var longitude = lo[0];
    var latitude = lo[1];
    var allOverlay = map.getOverlays();             //删除原有的节点
    for (var i = 0; i < allOverlay.length; i++) {
        if (allOverlay[i].toString() == "[object Marker]") {
            if (allOverlay[i].getPosition().lng == longitude && allOverlay[i].getPosition().lat == latitude) {
                map.removeOverlay(allOverlay[i]);
            }
        }
    }
}
function delpipe(msg) {
    var lo = msg.segmentStart.split(",");
    var longitude = lo[0];
    var latitude = lo[1];
    var lol = msg.segmentEnd.split(",");
    var longitude1 = lol[0];
    var latitude1 = lol[1];
    var allOverlay = map.getOverlays();                                       //移除原有的管道
    for (var i = 0; i < allOverlay.length ; i++) {
        if (allOverlay[i].toString()=="[object Polyline]") {
            if (allOverlay[i].getPath()[0].lng == longitude && allOverlay[i].getPath()[0].lat == latitude && allOverlay[i].getPath()[1].lng == longitude1  && allOverlay[i].getPath()[1].lat == latitude1)
                map.removeOverlay(allOverlay[i]);
        }
    }

}
        function fnParent(){

            window.opener.location.reload();//刷新父窗口
            window.close();
        }
        setTimeout('fnParent()',600000);            //十分钟刷新一次
    </script>

    <script type="text/javascript">

        var websocket = null;

        //判断当前浏览器是否支持WebSocket
        if('WebSocket' in window){
            websocket = new WebSocket("ws://localhost:8080/traceroot/webSocket");
        }
        else{
            alert('Not support websocket')
        }

        //连接发生错误的回调方法
        websocket.onerror = function(){
            setMessageInnerHTML("error");

        };

        //连接成功建立的回调方法
        websocket.onopen = function(event){
            setMessageInnerHTML("open");
        };

        //接收到消息的回调方法
        websocket.onmessage = function(event){
                var msg = JSON.parse(event.data);

            switch (msg.code) {
                     case "0":
                           del(msg);
                           drawboatf(msg.boatId,msg.presentLocation,msg.type,msg.status,msg.updateTime,msg.createTime);
                          break;

                     case "1":
                           drawboatf(msg.boatId,msg.presentLocation,msg.type,msg.status,msg.updateTime,msg.createTime);
                       break;

                     case "2":
                         del(msg);
                         drawsensorf(msg.sensorId,msg.segmentId,msg.sensorLocation,msg.typeId,msg.presentStatus,msg.presentValue,msg.updateTime,msg.createTime);
                         document.getElementById("id").value=msg.segmentId;
                         findsensor();
                         delpipe(msg);
                            drawpipef(msg.segmentId,msg.segmentStart,msg.segmentEnd,msg.updateTime,msg.createTime,msg.flag);

                         break;

                     case "3":
                         drawpipef(msg.segmentId,msg.start,msg.end,msg.updateTime,msg.createTime,0);
                         break;

                   }


        };

        //连接关闭的回调方法
        websocket.onclose = function(){
            setMessageInnerHTML("close");
        };

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){
            websocket.close();
        };

        //将消息显示在网页上
        function setMessageInnerHTML(innerHTML){

            document.getElementById('r-result').innerHTML += innerHTML + '<br/>';
        }

        //关闭连接
        function closeWebSocket(){
            websocket.close();
        }

        //发送消息
        /*     function send(){
                 var message = document.getElementById('text').value;
                 websocket.send(message);
             }
             */
        function finder() {

            var allOverlay = map.getOverlays();                                       //移除原有的航线
            for (var i = 0; i < allOverlay.length ; i++) {
                if (allOverlay[i].toString()=="[object Polyline]") {
                    if (allOverlay[i].getStrokeStyle() == "dashed")
                        map.removeOverlay(allOverlay[i]);
                }
            }
            find();
        }

        function find() {

            document.getElementById("find").innerHTML = "查找中";
            //获取标签的值
            var id = $("#id").val();
            var data = {
                'boatid': id
            };
            // ajax请求
            $.ajax({
                type: "GET",                  // 请求方式
                url: "/traceroot/boat/findbyboatid",       // 发送请求的地址
                data: data,                    // 请求参数
                async: true,                   // 异步请求
                cache: false,                  // 缓存
                dataType: "json",              // 返回的数据类型
                //请求成功的回调函数
                success: function (result) {
                    if (result.code == 0) {
                        var location = new Array;
                        var ids = result.data[0].boatId;
                        var startt = new Array;
                        for (var i = 0; i < result.data.length - 1; i++) {
                            startt[i] = result.data[i].recordTime;
                            startt[i+1] = result.data[i+1].recordTime;
                            location[i] = result.data[i].recordLocation;
                            location[i + 1] = result.data[i + 1].recordLocation;
                            drawvoyage(ids,location[i], location[i + 1],startt[i],startt[i+1]);
                        }
                    }
                },
                //请求失败的回调函数
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("【查找船只轨迹】船只轨迹不存在");//如果有错误抛出异常

                }
            });
        }

        function finds() {

            var name=prompt("请输入查询时间区间和查询精度（选填，各参数请用中文逗号隔开）","");
            var d = name.split("，");
            document.getElementById("findp").innerHTML = "查找中";

            var id = $("#id").val();p0
            var data = {
                'segmentid': id,
                'starttime':d[0],
                'endtime':d[1],
                'accuracydegree':d[2]
            };

            $.ajax({
                type: "GET",                  // 请求方式
                url: "/traceroot/boat/findwarningBoat",       // 发送请求的地址
                data: data,                    // 请求参数
                async: true,                   // 异步请求
                cache: false,                  // 缓存
                dataType: "json",              // 返回的数据类型

                success: function (result) {
                    if (result.code == 0) {
                        arr= new Array();
                        var threatboatid=new Array;
                        var threatboattimes=new Array;
                        var threatboatlocation=new Array;

                        for (var i = 0; i < result.data.length; i++) {
                            arr.push({
                                name:result.data[i].boatId,
                                value:result.data[i].traverseTime
                            })
                        }
                        showchart2();
                        for(var j=0;j< result.data.length;j++)
                        {
                            threatboatid[j]=result.data[j].boatId;
                            threatboattimes[j]=result.data[j].traverseTime;
                            threatboatlocation[j]=result.data[j].presentLocation;
                            drawboate(threatboatid[j],threatboattimes[j],threatboatlocation[j],j);
                        }}
                    else if (result.code=14)
                        alert("该时间、精度区间内没有发现船只");//如果有错误抛出异常
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("【管道段不存在】");//如果有错误抛出异常
                }
            });
        }

        function findsensor() {

            var id = $("#id").val();
            var data = {
                'segmentid': id
            };

            $.ajax({
                type: "GET",                  // 请求方式
                url: "/traceroot/pipe/sensorwithsegid",       // 发送请求的地址
                data: data,                    // 请求参数
                async: true,                   // 异步请求
                cache: false,                  // 缓存
                dataType: "json",              // 返回的数据类型

                success: function (result) {
                    if (result.code == 0) {
                        var sensortype=new Array;
                        var sensorvalue=new Array;
                        var sensorname=new Array;
                        x[0]=[0];
                        x[1]=[0];
                        x[2]=[0];
                        x[3]=[0];
                        $('#liquid1').addClass('dis');
                        $('#liquid2').addClass('dis');
                        $('#liquid3').addClass('dis');
                        $('#liquid4').addClass('dis');
                        for (var i = 0; i < result.data.length; i++) {
                            sensorvalue[i]= result.data[i].value;
                            sensortype[i]= result.data[i].type;
                            sensorname[i]= result.data[i].name;
                            showsensor(sensorvalue[i],sensortype[i]);
                        }

                    }

                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //如果有错误抛出异常
                }
            });
        }


    </script>

</head>



<body onload="getvalue()" >

<div style="position:relative; width:100%; height:100%;" id="container"></div>

<div id="middle" class="middle">					<!--loading效果-->



    <div class="bar bar1"></div>



    <div class="bar bar2"></div>



    <div class="bar bar3"></div>



    <div class="bar bar4"></div>



    <div class="bar bar5"></div>



    <div class="bar bar6"></div>



    <div class="bar bar7"></div>



    <div class="bar bar8"></div>



</div>

<div id="navigator">

    <div class="has_children">

        <li id="pipecontrol" onclick=change(0)>管道线路管理
            <div id="pipesegs" class="pipesegs">

                <!--根据管道的个数决定显示多少个p-->

            </div>
        </li>



        <li id="boatcontrol" onclick="change(6)">船只线路管理
            <div id="boats" class="boatss">

                <!--根据管道的个数决定显示多少个p-->

            </div>
        </li>

        <li onclick=change(1)>渤海</li>

        <li onclick=change(2)>黄海</li>

        <li onclick=change(3)>东海</li>

        <li onclick=change(4)>南海</li>

        <li onclick=change(5)>城市管道</li>

    </div>

    <!--<div id="boat" class="has_children">

    <span>船只轨迹监测</span>

     <li onclick=change(6)></li>

     <li onclick=change(7)></li>

     <li onclick=change(8)></li>

    </div> -->

    <div id="echarts" style="width:100%;height:70%;">

    </div>

</div>

<div id="drag">

    <p>告警管道id</p>

    <div id="dragon" class="dragon">

        <!--根据告警管道的个数决定显示多少个p-->

    </div>

</div>

<div id="liquid" >

    <div class="liquid">

        <table cellspacing="1" cellpadding="3" width="30%" style="color: beige" >

            <tr>

                <td>经度</td>

                <td><input type="text" name="lng" id="lng" value=""/>

                </td>

            </tr>

            <tr>

                <td >纬度</td>

                <td><input type="text" name="lat" id="lat" value=""/>

                </td>

            </tr>

            <tr>

                <td >id</td>

                <td><input type="text" name="id" id="id" value=""/>

                </td>

            </tr>

        </table>
        <input type="button" onclick="jump()" value="跳转">
        <input type="button" id="find" onclick="finder()" value="查找路径">
        <input type="button" id="findp" onclick="finds()" value="查找管道">

    </div>

    <div id="liquid1" class="liquid" ></div>

    <div id="liquid2" class="liquid" ></div>

    <div id="liquid3" class="liquid" ></div>

    <div id="liquid4" class="liquid" ></div>

</div>

<div id="button">
    <button style="font-size:24px" onclick="fnParent()" >刷新 <i class="fa fa-refresh"></i></button>
    <!--<button style="font-size:24px">删除 <i class="fa fa-minus-square" onclick="delp()"></i></button> -->
</div>

<div id="r-result"></div>

<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例

    function showchart(chartdata1,chartdata2) {

        echarts.init(document.getElementById('echarts')).setOption({

            title: {

                text: '管道情况统计'

            },

            tooltip: {},

            legend: {

                data: ['销量']

            },

            xAxis: {

                data: ["正常管道", "告警管道"],

                axisLine: {

                    lineStyle: {

                        color: 'yellow',					 //设置坐标轴字体颜色

                    }

                }

            },

            yAxis: {


                axisLine: {

                    lineStyle: {

                        color: 'yellow'					 //设置坐标轴字体颜色

                    }

                }

            },


            series: [{

                name: '管道',

                type: 'bar',

                itemStyle: {normal: {color: 'blue'}},							 //设置柱状图颜色

                data: [chartdata1, chartdata2]												//此处需要告警管道的个数

            }]

        });
    }
    function showchart2() {

        echarts.init(document.getElementById('echarts')).setOption({

            title: {
                text: '当前管道船只穿越统计',
                x: 'center'
            },
            series: [
                {
                    name: '船只',
                    type: 'pie',
                    radius: '40%',
                    data: arr
                    ,
                    label: {
                        normal: {
                            show: true,
                            formatter: '{b}:{c}' + '\n\r' + '({d}%)'
                        }
                    }

                }
            ]
        });

    }
</script>

<script type="text/javascript">	 //管道、传感器参数数据显示

x=[];
x[0]=[0];
x[1]=[0];
x[2]=[0];
x[3]=[0];

function xinfo(infoWindow) {

    x[0]=[0];
    x[1]=[0];
    x[2]=[0];
    x[3]=[0];

    var sensordata = infoWindow.getContent();

    var sensorvalue = sensordata.split("；");

    var senid = sensorvalue[0].split("：");

    var location = sensorvalue[2].split("：");

    var pos = location[1].split(",");

    var svalue = sensorvalue[5].split("：");

    var stype = sensorvalue[4].split("：");

    document.getElementById('lng').value = pos[0];

    document.getElementById('lat').value = pos[1];

    document.getElementById('id').value = senid[1];

    //showsensor(svalue[1], stype[1]);

}

function showsensor(sensorvalue,sensortype){

    var s = parseFloat(sensorvalue);

    var st = parseFloat(sensortype);

    switch (st) {
        case 2926155 :
            x[0] = [s];
            $('#liquid1').removeClass('dis');
            break;
        case 2926378 :
            x[1] = [s];
            $('#liquid2').removeClass('dis');
            break;
        case 7752109 :
            x[2] = [s];
            $('#liquid3').removeClass('dis');
            break;
        default :
            x[0] = [0];
            x[1] = [0];
            x[2] = [0];
            x[3] = [0];

            break;

    }

    drawLiquid();

}

function drawLiquid (){

    //div设置了display:none，echart没有获取到div的宽和高导致初始化失败
    $("#liquid1").css({"width":$("#liquid1").width(),"height":$("#liquid1").height()});
    $("#liquid2").css({"width":$("#liquid2").width(),"height":$("#liquid2").height()});
    $("#liquid3").css({"width":$("#liquid3").width(),"height":$("#liquid3").height()});
    $("#liquid4").css({"width":$("#liquid4").width(),"height":$("#liquid4").height()});

    echarts.init(document.getElementById('liquid1')).setOption({

        series: {

            type: 'liquidFill',

            data: x[0],

            name: "温度传感器",

            label: {

                position: ['50%', '50%'],

                formatter: '{a}\n{b}\n{c}',

                fontSize: 20

            },

            outline: {

                borderDistance: 0,

                itemStyle: {

                    borderWidth: 5,

                    borderColor: '#333'

                }

            }

        }

    });

    echarts.init(document.getElementById('liquid2')).setOption({

        series: {

            type: 'liquidFill',

            data: x[1],

            name: "杂质传感器",

            label: {

                position: ['50%', '50%'],

                formatter: '{a}\n\n{c}',			//{a} refers to series name, {b} to data name, and {c} to data value.

                fontSize: 20

            },

            outline: {

                borderDistance: 0,

                itemStyle: {

                    borderWidth: 5,

                    borderColor: '#333'

                }

            }

        }

    });

    echarts.init(document.getElementById('liquid3')).setOption({

        series: {

            type: 'liquidFill',

            data: x[2],

            name: "管压传感器",

            label: {

                position: ['50%', '50%'],

                formatter: '{a}\n\n{c}',			//{a} refers to series name, {b} to data name, and {c} to data value.

                fontSize: 20

            },

            outline: {

                borderDistance: 0,

                itemStyle: {

                    borderWidth: 5,

                    borderColor: '#333'

                }

            }

        }

    });

    echarts.init(document.getElementById('liquid4')).setOption({

        series: {

            type: 'liquidFill',

            data: x[3],

            name: "传感器",

            label: {

                position: ['50%', '50%'],

                formatter: '{a}\n\n{c}',			//{a} refers to series name, {b} to data name, and {c} to data value.

                fontSize: 20

            },

            outline: {

                borderDistance: 0,

                itemStyle: {

                    borderWidth: 5,

                    borderColor: '#333'

                }

            }

        }

    });

    setTimeout(function () {					//之后数据传输时要将此替换（为了模拟数据到来）

            changec(x);

        }, 100
    )
}
</script>

<script type="text/javascript"> 			//百度地图设置

var map = new BMap.Map("container");

// 创建地图实例

var point = new BMap.Point(116.404, 39.915);

// 创建点坐标

map.centerAndZoom(point, 9);					// 初始化地图，设置中心点坐标和地图级别

map.enableScrollWheelZoom(true);

map.disableDoubleClickZoom();

var markersArray = [];

map.setMapStyleV2({

    styleId: '7b1d087644685621c5642aa7841a7956',

});

map.addEventListener("tilesloaded",function(){
    $("#middle").css("display", "none");

});   //loading结束

/*
function addp() {

    map.addEventListener("click",function(e){
        var r=confirm("起点设置为!" +e.point.lng + "," + e.point.lat);
        if (r==true){
            var final=prompt("请输入加入管道段的终点","116.000,39.600");
            if (final!=null && final!=""){

        }}
        else{

        }
    });

}
*/
/*function delp(){

    var delid=prompt("请输入删除管道段的id","124");
    if (delid!=null && delid!=""){

    }
}
*/
function jump(){
    var jumps = new BMap.Point(document.getElementById('lng').value, document.getElementById('lat').value);
    var r=confirm("是否添加标记");
    map.panTo(jumps);
    if (r==true){
        var marker = new BMap.Marker(jumps);
        map.addOverlay(marker);
    }
}

function tojump(ss,ee){
    var jumps=new BMap.Point(ss[0]*0.5+ee[0]*0.5, ss[1]*0.5+ee[1]*0.5);
    map.panTo(jumps);
    var marker = new BMap.Marker(jumps);
    map.addOverlay(marker);
    // marker.setAnimation(BMAP_ANIMATION_BOUNCE);
}

//点击地图时间处理

function showInfos(content,e,t) {

    var p = e.target;

    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);

    //var points1 = new BMap.Point(pos[0], pos[1]);
    if (t == 1) {

        var opts = {
            width: 200,     // 信息窗口宽度
            height: 200,     // 信息窗口高度
            title: "传感器信息", // 信息窗口标题
            enableMessage: true,//设置允许信息窗发送短息
            enableCloseOnClick: false,
            message: "1234321~"
        };

        var infoWindow = new BMap.InfoWindow(content, opts);
        //预留给弹窗显示信息用

        map.openInfoWindow(infoWindow, point); //开启信息窗口


        infoWindow.addEventListener("open", xinfo(infoWindow));

    }
    else{
        var opts = {
            width: 200,     // 信息窗口宽度
            height: 200,     // 信息窗口高度
            title: "船只信息", // 信息窗口标题
            enableMessage: true,//设置允许信息窗发送短息
            enableCloseOnClick: false,
            message: "1234321~"
        };

        var infoWindow = new BMap.InfoWindow(content, opts);
        //预留给弹窗显示信息用

        map.openInfoWindow(infoWindow, point); //开启信息窗口

        var boatvalue = content.split("；");

        var bid = boatvalue[0].split("：");

        var lo = boatvalue[1].split("：");

        var pos =lo[1].split(",");

        document.getElementById('id').value = bid[1];

        document.getElementById('lng').value = pos[0];

        document.getElementById('lat').value = pos[1];

    }
}

function showvoya(content,t){

    var sensorvalue = content.split("；");

    var senid = sensorvalue[0].split("：");

    document.getElementById('id').value = senid[1];

    var opts = {
        width: 200,     // 信息窗口宽度
        height: 200,     // 信息窗口高度
        title: "线路信息", // 信息窗口标题
        enableMessage: true,//设置允许信息窗发送短息
        enableCloseOnClick: false,
        message: "1234321~"
    };

    var infoWindow = new BMap.InfoWindow(content, opts);
    //预留给弹窗显示信息用

    map.openInfoWindow(infoWindow, t); //开启信息窗口

}

function addClickHandler(content,marker,t){
    if (t == 1) {
        marker.addEventListener("click", function(e){
            showInfos(content,e,1)});
    }   else {
        marker.addEventListener("click", function(e){
            showInfos(content,e,0)});
    }

}

function addClickHandlerv(content,voyageline,showvl,t){
    if(t==0)
    {
        voyageline.addEventListener("click", function(){
            showvoya(content,showvl);
            findsensor();
        })
    }
    else
        voyageline.addEventListener("click", function(){
            showvoya(content,showvl);})
}

function addClickHandlerb(voyageline,id){

    voyageline.addEventListener("click", function(){
        var senid = id.innerHTML;
        document.getElementById('id').value = senid;})
}

/*function addClickHandlerv(voyageline) {               //点击轨迹删除该轨迹

    voyageline.addEventListener("click", function(){

        map.removeOverlay(voyageline);

    });

}
*/


function drawpipe(id,start,end,update,creat) {

        var ss = start.innerHTML.split(",");
        var ee = end.innerHTML.split(",");
        var points1 = new BMap.Point(ss[0], ss[1]);
        var points2 = new BMap.Point(ee[0], ee[1]);
        var content = "管道段id ：" + id.innerHTML + "； 起点位置 ：" + start.innerHTML +"； 终点位置 ：" + end.innerHTML +
            "； 更新时间： " + update.innerHTML + "； 创建时间：" + creat.innerHTML;
        var showvl = new BMap.Point(ss[0]*0.5+ee[0]*0.5, ss[1]*0.5+ee[1]*0.5);
        var pipeline = new BMap.Polyline([
            points1,
            points2
        ], {strokeColor: "blue", strokeStyle: "solid", strokeWeight: 5, strokeOpacity: 0.5});   //创建折线

        addClickHandlerv(content,pipeline,showvl,0);

        map.addOverlay(pipeline);

        var para=document.createElement("p");

        var pipesegid=id.innerHTML;

        var node=document.createTextNode(pipesegid);

        para.appendChild(node);

        para.onclick = function() {            //element.onclick后面直接跟的函数不能有参数
            //每次点击都会画一个标签（小bug）
            tojump(ss, ee);
        };

        var element=document.getElementById("pipesegs");

        element.appendChild(para);


}


function drawpipef(id,start,end,update,creat,flag) {

        var ss = start.split(",");
        var ee = end.split(",");
        var points1 = new BMap.Point(ss[0], ss[1]);
        var points2 = new BMap.Point(ee[0], ee[1]);
        var content = "管道段id ：" + id + "； 起点位置 ：" + start+"； 终点位置 ：" + end +
            "； 更新时间： " + update + "； 创建时间：" + creat;
        var showvl = new BMap.Point(ss[0]*0.5+ee[0]*0.5, ss[1]*0.5+ee[1]*0.5);
        if(flag =="0") {
            var pipelines = new BMap.Polyline([
                points1,
                points2
            ], {strokeColor: "blue", strokeStyle: "solid", strokeWeight: 5, strokeOpacity: 0.5});   //创建折线
        }
        else if(flag =="1"){
            pipelines = new BMap.Polyline([
                points1,
                points2
            ], {strokeColor: "red", strokeStyle: "solid", strokeWeight: 5, strokeOpacity: 0.5});   //创建折线
        }
        addClickHandlerv(content,pipelines,showvl,0);

        map.addOverlay(pipelines);

        var para=document.createElement("p");

        var pipesegid=id;

        var node=document.createTextNode(pipesegid);

        para.appendChild(node);

        para.onclick = function() {            //element.onclick后面直接跟的函数不能有参数
            //每次点击都会画一个标签（小bug）
            tojump(ss, ee);
        };

        var element=document.getElementById("pipesegs");

        element.appendChild(para);


}

function drawvoyage(ids,start,end,update,creat)
{
    ss = start.split(",");
    ee = end.split(",");
    points1 = new BMap.Point(ss[0], ss[1]);
    points2 = new BMap.Point(ee[0], ee[1]);
    var showvl = new BMap.Point(ss[0]*0.5+ee[0]*0.5, ss[1]*0.5+ee[1]*0.5);
    var voyageline = new BMap.Polyline([
        points1,
        points2
    ], {strokeColor: "green",strokeStyle: "dashed", strokeWeight: 8, strokeOpacity: 0.5});   //创建折线

    var content = "船只id ：" + ids + "； 起点位置 ：" + start +"； 终点位置 ：" + end +
        "； 出发时间： " + update + "； 到达时间：" + creat;
    addClickHandlerv(content,voyageline,showvl,1);

    map.addOverlay(voyageline);

}

function drawbadnode(id,start,end,update,creat) {

    var ss = start.innerHTML.split(",");
    var ee = end.innerHTML.split(",");
    var points1 = new BMap.Point(ss[0], ss[1]);
    var points2 = new BMap.Point(ee[0], ee[1]);
    var pipeline = new BMap.Polyline([
        points1,
        points2
    ], {strokeColor: "red", strokeWeight: 5, strokeOpacity: 0.5});   //创建折线
    var content = "告警管道段id ：" + id.innerHTML + "； 起点位置 ：" + start.innerHTML +"； 终点位置 ：" + end.innerHTML +
        "； 更新时间： " + update.innerHTML + "； 创建时间：" + creat.innerHTML;
    var showvl = new BMap.Point(ss[0]*0.5+ee[0]*0.5, ss[1]*0.5+ee[1]*0.5);
    map.addOverlay(pipeline);

    // addClickHandlerb(pipeline,id);

    addClickHandlerv(content,pipeline,showvl,0);

    var para=document.createElement("p");

    var badnoid=id.innerHTML;

    var node=document.createTextNode(badnoid);

    para.appendChild(node);

    para.onclick = function() {            //element.onclick后面直接跟的函数不能有参数
        //每次点击都会画一个标签（小bug）
        tojump(ss, ee);
    };

    var element=document.getElementById("dragon");

    element.appendChild(para);

}

function drawsensor(id,segid,location,type,state,value,update,creat) {

    var sen = location.innerHTML.split(",");

    switch (state.innerHTML) {
        case "100":
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqic.png", new BMap.Size(32,32));
            break;
        case "101":
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqie.png", new BMap.Size(32,32));
            break;
        case "102":
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqiw.png", new BMap.Size(32,32));
            break;
        default:
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqie.png", new BMap.Size(32,32));
            break;
    }

    var marker = new BMap.Marker(new BMap.Point(sen[0], sen[1]),{icon:myIcon});			//加载单个点

    map.addOverlay(marker);

    var content = "id ：" + id.innerHTML + "； 管道段id ：" + segid.innerHTML + "； 位置 ：" + location.innerHTML + "； 状态 ：" + state.innerHTML + "； 种类 ：" + type.innerHTML + "； 数值 ：" + value.innerHTML +
        "； 更新时间： " + update.innerHTML + "； 创建时间：" + creat.innerHTML;

    addClickHandler(content,marker,1);

}

function drawsensorf(id,segid,location,type,state,value,update,creat) {



    var sen = location.split(",");

    switch (state) {
        case "100":
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqic.png", new BMap.Size(32,32));
            break;
        case "101":
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqie.png", new BMap.Size(32,32));
            break;
        case "102":
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqiw.png", new BMap.Size(32,32));
            break;
        default:
            var myIcon = new BMap.Icon("/traceroot/image/chuanganqie.png", new BMap.Size(32,32));
            break;
    }

    var marker = new BMap.Marker(new BMap.Point(sen[0], sen[1]),{icon:myIcon});			//加载单个点

    map.addOverlay(marker);

    var content = "id ：" + id + "； 管道段id ：" + segid+ "； 位置 ：" + location + "； 状态 ：" + state+ "； 种类 ：" + type+ "； 数值 ：" + value +
        "； 更新时间： " + update+ "； 创建时间：" + creat;

    addClickHandler(content,marker,1);

}

function drawboatf(id,location,type,state,update,creat) {

    var sen = location.split(",");

    var myIcon = new BMap.Icon("/traceroot/image/boat.png", new BMap.Size(32,32));

    var marker = new BMap.Marker(new BMap.Point(sen[0], sen[1]),{icon:myIcon});			//加载单个点

    map.addOverlay(marker);

    var content = "id ：" + id + "； 位置 ：" + location + "； 状态 ：" + state + "； 种类 ：" + type +
        "； 更新时间： " + update + "； 创建时间：" + creat;

    addClickHandler(content,marker,0);

}

function drawboat(id,location,type,state,update,creat) {

    var sen = location.innerHTML.split(",");

    var myIcon = new BMap.Icon("/traceroot/image/boat.png", new BMap.Size(32,32));

    var marker = new BMap.Marker(new BMap.Point(sen[0], sen[1]),{icon:myIcon});			//加载单个点

    map.addOverlay(marker);

    var content = "id ：" + id.innerHTML + "； 位置 ：" + location.innerHTML + "； 状态 ：" + state.innerHTML + "； 种类 ：" + type.innerHTML +
        "； 更新时间： " + update.innerHTML + "； 创建时间：" + creat.innerHTML;

    addClickHandler(content,marker,0);

    var para=document.createElement("p");

    var pipesegid=id.innerHTML;

    var node=document.createTextNode(pipesegid);

    para.appendChild(node);

    para.onclick = function() {            //element.onclick后面直接跟的函数不能有参数
        map.panTo(new BMap.Point(sen[0], sen[1]));
    };

    var element=document.getElementById("boats");

    element.appendChild(para);

}

function drawboate(id,time,location,i) {

    var sen = location.split(",");

    if(i==0) {
        var myIcon = new BMap.Icon("/traceroot/image/boate.png", new BMap.Size(32, 32));
    }
    else{
        var myIcon = new BMap.Icon("/traceroot/image/boatw.png", new BMap.Size(32, 32));
    }
    var marker = new BMap.Marker(new BMap.Point(sen[0], sen[1]),{icon:myIcon});			//加载单个点

    map.addOverlay(marker);

    var content = "id ：" + id + "； 位置 ：" + location + "； 穿越次数 ：" +  time;

    addClickHandler(content,marker,0);
}

</script>

<script>

    function change(n)

    {

        map.setZoom(6);

        switch(n)

        {

            case 0:

                showchart(chartdata1,chartdata2);

                break;

            case 1:

                var point = new BMap.Point(119.861811,38.611712);

                map.panTo(point);

                break;

            case 2:

                var point = new BMap.Point(120.611501,34.976702);

                map.panTo(point);

                break;

            case 3:

                var point = new BMap.Point(122.197347,28.116691);

                map.panTo(point);

                break;

            case 4:

                var point = new BMap.Point(115.004004,11.655103);

                map.panTo(point);

                break;

            case 5:

                var point = new BMap.Point(121.479853,31.232993);

                map.panTo(point);

                break;

            case 6:

                showchart2();

                break;

            default:

                var point = new BMap.Point(116.404, 39.915);

                map.panTo(point);

        }

    }

</script>

</body>

</html>