<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf快速入门-Hello Thymeleaf</title>
    <script src="/traceroot/js/transdata.js"></script>
</head>
<body>
<table id="pipesegment">
    <thead>
    <tr>
        <th>管道段id</th>
        <th>管道段起点</th>
        <th>管道段终点</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pipe:${pipesegment}">
        <td id="pipe.id" th:text="${pipe.id}"></td>
        <td id="pipe.start" th:text="${pipe.start}"></td>
        <td id="pipe.end" th:text="${pipe.end}"></td>
    </tr>
    </tbody>
</table>

<table id="sensor">
    <thead>
    <tr>
        <th>传感器id</th>
        <th>传感器位置</th>
        <th>传感器种类</th>
        <th>传感器状态</th>
        <th>传感器数值</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sensor:${sensor}">
        <td id="sensor.id" th:text="${sensor.id}"></td>
        <td id="sensor.location" th:text="${sensor.location}"></td>
        <td id="sensor.type" th:text="${sensor.type}"></td>
        <td id="sensor.state" th:text="${sensor.state}"></td>
        <td id="sensor.value" th:text="${sensor.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>