<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf快速入门-Hello Thymeleaf</title>
    <script>

        function f()
        {
            window.open('/traceroot/pipe-boat-display');
        }

    </script>

</head>
<body onload="f()">
<table id="pipesegment1" name="pipesegment1">
    <thead>
    <tr>
        <th>管道段id</th>
        <th>管道段起点</th>
        <th>管道段终点</th>
        <th>管道段更新时间</th>
        <th>管道段创建时间</th>
    </tr>
    </thead>
    <tbody id="p" name="p">
    <tr id="pipe" name="pipe" th:each="pipe:${pipeSegmentList}">
        <td id="pipe_id" name="pipe_id" th:text="${pipe.segmentId}"></td>
        <td id="pipe_start" name="pipe_start" th:text="${pipe.start}"></td>
        <td id="pipe_end" name="pipe_end" th:text="${pipe.end}"></td>
        <td id="pipe_update" name="pipe_update" th:text="${pipe.updateTime}"></td>
        <td id="pipe_creat" name="pipe_creat" th:text="${pipe.createTime}"></td>
    </tr>
    </tbody>
</table>

<table id="sensor1" name="sensor1">
    <thead>
    <tr>
        <th>传感器id</th>
        <th>传感器位置</th>
        <th>传感器种类</th>
        <th>传感器状态</th>
        <th>传感器数值</th>
        <th>传感器更新时间</th>
        <th>传感器创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sensor:${sensorDTOList}">
        <td id="sensor_id" name="sensor_id" th:text="${sensor.sensorId}"></td>
        <td id="sensor_location" name="sensor_location" th:text="${sensor.location}"></td>
        <td id="sensor_type" name="sensor_type" th:text="${sensor.typeId}"></td>
        <td id="sensor_state" name="sensor_state" th:text="${sensor.presentStatus}"></td>
        <td id="sensor_value" name="sensor_value" th:text="${sensor.presentValue}"></td>
        <td id="sensor_update" name="sensor_update" th:text="${sensor.updateTime}"></td>
        <td id="sensor_creat" name="sensor_creat" th:text="${sensor.createTime}"></td>
</tr>


    </tbody>
</table>

<table id="badnode" name="badnode">
    <thead>
    <tr>
        <th>故障管道段id</th>
        <th>故障管道段起点位置</th>
        <th>故障管道段终点位置</th>
    <!--    <th>传感器种类</th>
        <th>传感器状态</th>
        <th>传感器数值</th>
        <th>传感器更新时间</th>
        <th>传感器创建时间</th>
        -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="badnodeid:${warningSegments}">
        <td id="badnode_id" name="badnode_id" th:text="${badnodeid.segmentId}"></td>
        <td id="badnode_start" name="badnode_start" th:text="${badnodeid.start}"></td>
        <td id="badnode_end" name="badnode_end" th:text="${badnodeid.end}"></td>
       <!-- <td id="badnode_type" name="badnode_type" th:text="${badnodeid.typeId}"></td>
        <td id="badnode_state" name="badnode_state" th:text="${badnodeid.presentStatus}"></td>
        <td id="badnode_value" name="badnode_value" th:text="${badnodeid.presentValue}"></td>
        <td id="badnode_update" name="badnode_update" th:text="${badnodeid.updateTime}"></td>
        <td id="badnode_creat" name="badnode_creat" th:text="${badnodeid.createTime}"></td>
        -->
    </tr>


    </tbody>
</table>

<table id="boat1" name="boat1">
    <thead>
    <tr>
        <th>船只id</th>
        <th>当前位置</th>
        <th>船只种类</th>
        <th>船只状态</th>
        <th>船只更新时间</th>
        <th>船只创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boat:${boatDTOList}">
        <td id="boat_id" name="boat_id" th:text="${boat.boatId}"></td>
        <td id="boat_location" name="boat_location" th:text="${boat.presentLocation}"></td>
        <td id="boat_type" name="boat_type" th:text="${boat.type}"></td>
        <td id="boat_state" name="boat_state" th:text="${boat.status}"></td>
        <td id="boat_update" name="boat_update" th:text="${boat.updateTime}"></td>
        <td id="boat_creat" name="boat_creat" th:text="${boat.createTime}"></td>
    </tr>


    </tbody>
</table>

</body>

</html>