<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf快速入门-Hello Thymeleaf</title>
    <script>
        function f() {
            var pipestartdata = document.pipesegment1.pipe_start.innerHTML;
            var pipeenddata = document.pipesegment1.pipe_end.innerHTML;
            var _parentWin = window.parent;
            _parentWin.pipesegment.pipesegmentend.value = pipeenddata;
            _parentWin.pipesegment.pipesegmentstart.value = pipestartdata;
        }
    </script>
    <style>
        .hidde{
            display: none;
        }

    </style>
</head>
<body onload="f()">
<table id="pipesegment1" name="pipesegment1" class="hidde">
    <thead>
    <tr>
        <th>管道段id</th>
        <th>管道段起点</th>
        <th>管道段终点</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pipe:${pipeSegmentList}">
        <td id="pipe_id" name="pipe_id" th:text="${pipe.pipeId}"></td>
        <td id="pipe_start" name="pipe_start" th:text="${pipe.start}">123465498</td>
        <td id="pipe_end" name="pipe_end" th:text="${pipe.end}"></td>
    </tr>
    </tbody>
</table>

<table id="sensor" name="sensor">
    <thead>
    <tr>
        <th>传感器id</th>
        <th>传感器位置</th>
        <th>传感器种类</th>
        <th>传感器状态</th>
        <th>传感器数值</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sensor:${sensorDTOList}">
        <td id="sensor_id" name="sensor_id" th:text="${sensor.sensorId}"></td>
        <td id="sensor_location" name="sensor_location" th:text="${sensor.location}"></td>
        <td id="sensor_type" name="sensor_type" th:text="${sensor.typeId}"></td>
        <td id="sensor_state" name="sensor_state" th:text="${sensor.presentStatus}"></td>
        <td id="sensor_value" name="sensor_value" th:text="${sensor.presentValue}"></td>
    </tr>
    </tbody>
</table>





</body>

</html>